# Feel free to use this file to list the strict minimum requirements to copy inside your docker container in production
# You may want to remove dev requirements such as pytest, ipykernel, matplotlib etc...

colorama
numpy
pandas
scikit-learn
# google-cloud-bigquery
# google-cloud-storage==2.14.0
# google-api-core==2.8.2
# googleapis-common-protos==1.56.4
protobuf
h5py
pyarrow
typing_extensions
fastapi
pytz
uvicorn
python-dotenv
streamlit
